/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Basteleur';
    src: url('/fonts/Basteleur-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}
